<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Order Form</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form method="POST">
            {% csrf_token %}
            <label for="phone_number">Recipient Phone Number (Zambia):</label>
            <input type="text" id="phone_number" name="phone_number" placeholder="260763456789" required>
            
            <label for="amount">Amount (ZMW):</label>
            <input type="text" id="amount" name="amount" required>
            
            <label for="order_id">Order ID:</label>
            <input type="text" id="order_id" name="order_id" required>
            
            <label for="customer_email">Customer Email:</label>
            <input type="email" id="customer_email" name="customer_email" required>
            
            <button type="submit">Make Payment</button>
        </form>
        
        
        <script src="" async defer></script>
    </body>
</html>